.enable-js
  display flex
  min-height 100vh
  align-items center

  padding 1rem

  p
    margin 0 auto
    padding 1rem

    text-align center

    background white
    border 1px solid lighter-grey
    border-radius 4px

    @media (min-width breakpoint-medium)
      padding 2rem
      max-width 30rem
