body
  background '%s' % Colors.OFF_WHITE
  color '%s' % Colors.DARK_GREY
  margin 0
  padding 0

*
  box-sizing border-box
  text-size-adjust none
  -webkit-tap-highlight-color transparent

figure
  margin 0
  padding 0

img
  height auto
  vertical-align middle
  width 100%

h1
h2
h3
p
ul
ol
  margin 0
  padding 0

h1
h2
h3
  line-height 1.1

h1
  font-size H1_BASE

h2
  font-size H2_BASE
  margin 1em 0

h3
  font-size H3_BASE

p
  line-height 1.5

b
strong
  font-weight normal

a
  background transparent
  link(BRAND_COLOR, BRAND_COLOR_VISITED, Colors.DARK_GREY)
  text-decoration none

.no-touch
  a
    link_hover(Colors.DARK_GREY)
    transition_all()

button
  background transparent
  border none
  color inherit
  cursor pointer
  font inherit
  margin 0
  outline none
  overflow visible
  text-transform none
