body
  background OFF_WHITE
  color DARK_GREY
  margin 0
  padding 0

*
  box-sizing border-box
  text-size-adjust none
  -webkit-tap-highlight-color transparent

figure
  margin 0
  padding 0

img
  height auto
  vertical-align middle
  width 100%

// TODO: move to components(?)
h1
h2
h3
p
ul
ol
  margin 0
  padding 0

h1
h2
h3
  line-height 1.1

h1
  font-size px_to_em(24)

h2
  font-size px_to_em(18)
  margin 1em 0

h3
  font-size px_to_em(18)

p
  line-height 1.5

b
strong
  font-weight normal

a
  background transparent
  link(BRAND_COLOR, BRAND_COLOR_VISITED, DARK_GREY)
  text-decoration none

.no-touch
  a
    link_hover(DARK_GREY)
    transition_all()

// TODO: move to components(?)
button
  background transparent
  border none
  color inherit
  cursor pointer
  font inherit
  margin 0
  outline none
  overflow visible
  text-transform none
