body
  &::after
    content 'base'
    display none

    @media BREAKPOINT_SMALL
      content 'small'

    @media BREAKPOINT_MEDIUM
      content 'medium'

    @media BREAKPOINT_LARGE
      content 'large'
