body
  &::after
    content 'base'
    display none

    @media (min-width BREAKPOINT_SMALL)
      content 'small'

    @media (min-width BREAKPOINT_MEDIUM)
      content 'medium'

    @media (min-width BREAKPOINT_LARGE)
      content 'large'
