webfont('Futura-Book', '/ui/webfonts/Futura-Book/Futura-Book')
webfont('Futura-Bold', '/ui/webfonts/Futura-Bold/Futura-Bold')
webfont('CarminaBT-Bold', '/ui/webfonts/CarminaBT-Bold/CarminaBT-Bold')
webfont('CarminaBT-Light', '/ui/webfonts/CarminaBT-Light/CarminaBT-Light')

// NOTE: no woff2 file for icons-webfont
@font-face
  font-family Icons
  src url(/ui/webfonts/icons/icons.eot)
  src url(/ui/webfonts/icons/icons.woff) format('woff'),
      url(/ui/webfonts/icons/icons.ttf) format('truetype')

//ICON_LEFT_OPEN = '\e800'
ICON_RIGHT_OPEN =  '\e801'
ICON_ANGLE_LEFT = '\e802'
ICON_ANGLE_RIGHT = '\e803'
ICON_SEARCH = '\e804'
ICON_USER = '\e805'
ICON_CIRCLE_EMPTY = '\e806'
ICON_OK_CIRCLED = '\e807'
ICON_CANCEL_CIRCLED = '\e808'
ICON_CANCEL = '\e809'
ICON_HEART = '\e80a'
ICON_HEART_EMPTY = '\e80b'
