webfont('Futura-Book', '/ui/webfonts/Futura-Book/Futura-Book')
webfont('Futura-Bold', '/ui/webfonts/Futura-Bold/Futura-Bold')
webfont('CarminaBT-Bold', '/ui/webfonts/CarminaBT-Bold/CarminaBT-Bold')
webfont('CarminaBT-Light', '/ui/webfonts/CarminaBT-Light/CarminaBT-Light')

// NOTE: no woff2 file for icons-webfont
@font-face
  font-family Icons
  src url(/ui/webfonts/icons/icons.eot)
  src url(/ui/webfonts/icons/icons.woff) format('woff'),
      url(/ui/webfonts/icons/icons.ttf) format('truetype')

// '\e800' // left-open
// '\e801' // right-open
// '\e802' // angle-left
// '\e803' // angle-right
// '\e804' // search
// '\e805' // user
// '\e806' // circle-empty
// '\e807' // ok-circled
// '\e808' // cancel-circled
// '\e809' // cancel
// '\e80a' // heart
// '\e80b' // heart-empty
