webfont('Futura-Book', '/ui/webfonts/Futura-Book/Futura-Book')
webfont('Futura-Bold', '/ui/webfonts/Futura-Bold/Futura-Bold')
webfont('CarminaBT-Bold', '/ui/webfonts/CarminaBT-Bold/CarminaBT-Bold')
webfont('CarminaBT-Light', '/ui/webfonts/CarminaBT-Light/CarminaBT-Light')
webfont('Icons', '/ui/webfonts/icons/icons')

body
  background '%s' % Color.OFF_WHITE
  color '%s' % Color.DARK_GREY
  margin 0
  padding 0

*
  box-sizing border-box
  text-size-adjust none
  -webkit-tap-highlight-color transparent

figure
  margin 0
  padding 0

img
  height auto
  vertical-align middle
  width 100%

h1
h2
h3
p
ul
ol
  margin 0
  padding 0

h1
h2
h3
  line-height 1.1

h1
  font-size '%s' % FontSize.Base.H1

h2
  font-size '%s' % FontSize.Base.H2
  margin 1em 0

h3
  font-size '%s' % FontSize.Base.H3

p
  line-height 1.5

b
strong
  font-weight normal

a
  background transparent
  link(BRAND_COLOR, BRAND_COLOR_VISITED, Color.DARK_GREY)
  text-decoration none

.no-touch a
  link_hover(Color.DARK_GREY)
  transition_all()

button
  background transparent
  border none
  color inherit
  cursor pointer
  font inherit
  margin 0
  outline none
  overflow visible
  text-transform none

a:focus
button:focus
  outline none