:root
  --color-grey-dark #333
  --color-grey-light #aaa
  --color-grey-lighter #eee
  --color-grey-medium #777
  --color-off-white #f2f2f2

  --border-color #eee
  --badge-color #ffc500
  --brand-color BRAND_COLOR

  --link LINK_COLOR
  --link-visited LINK_VISITED

  --h1 px_to_em(24)
  --h2 px_to_em(18)
  --h3 px_to_em(18)

  --header-height px_to_rem(44)
  --margin '%s' % Margin.BASE

  @media Breakpoint.SMALL
    --margin '%s' % Margin.SMALL

  @media Breakpoint.MEDIUM
    --header-height px_to_rem(56)
    --margin '%s' % Margin.MEDIUM

  @media Breakpoint.LARGE
    --margin '%s' % Margin.LARGE
