!doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Good And Cheap
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/offline.css")
  body
    div.content
      figure
        img(src="/img/wordmark.png", alt="Good And Cheap")
