doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Good And Cheap is currently offline
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    div.content
      figure
        img(src="/img/wordmark.png" alt="Good And Cheap")
    style.
      html, body { background: #e5001f; margin: 0; padding: 0 }
      .content { align-items: center; display: flex; justify-content: center; min-height: 100vh }
      figure { margin: auto }
      img { height: auto; width: 100% }
