:root
  --dark-grey #333
  --light-grey #aaa
  --lighter-grey #eee
  --medium-grey #777
  --off-white #f2f2f2

  --border-color #eee
  --badge-color #ffc500
  --brand-color brand-color

  --link link-color
  --link-visited link-color-visited

  --heading-1 em(24)
  --heading-2 em(18)
  --heading-3 em(18)

  --header-height rem(48)
  --margin margin-base

  @media breakpoint.small
    --margin margin-small

  @media breakpoint.medium
    --columns 2
    --header-height rem(56)
    --margin margin-medium

  @media breakpoint.large
    --columns 3
    --margin margin-large
