.enable-js
  align-items center
  display flex
  min-height 100vh
  padding rem(16)

.enable-js p
  background white
  border 1px solid var(--lighter-grey)
  border-radius 4px
  margin 0 auto
  padding 1rem
  text-align center

  @media Breakpoint.MEDIUM
    max-width rem(480)
    padding rem(32)
