webfont('CarminaBT-Bold', '../../../webfonts/CarminaBT-Bold')
webfont('CarminaBT-Light', '../../../webfonts/CarminaBT-Light')
webfont('Futura-Book', '../../../webfonts/Futura-Book')
webfont('Futura-Bold', '../../../webfonts/Futura-Bold')

// There's no .woff2 file for icons, so its font-face rules are hard-coded.
@font-face
  font-display block
  font-family 'Icons'
  src url(../../../webfonts/icons.woff)

body
  background var(--off-white)
  color var(--dark-grey)
  margin 0
  padding 0

*
  box-sizing border-box
  text-size-adjust none
  -webkit-tap-highlight-color transparent

figure
  margin 0
  padding 0

img
  height auto
  vertical-align middle
  width 100%

h1
h2
h3
p
ul
ol
  margin 0
  padding 0

h1
h2
h3
  line-height 1.1

h1
  font-size em(24)

h2
  font-size em(18)
  margin 1em 0

h3
  font-size em(18)

p
  line-height 1.5

b
strong
  font-weight normal

a
  link(var(--link-color), var(--link-color-visited), var(--dark-grey), var(--dark-grey))
  background transparent
  text-decoration none

[no-touch] a
  transition background .3s ease, border .3s ease, color .3s ease

button
  background transparent
  border none
  color inherit
  cursor pointer
  font inherit
  margin 0
  outline none
  overflow visible
  text-transform none

a:focus
button:focus
  outline none

// TODO: Styles shared across the app
.recipe-count
  small_caps()
  typeface('sans_bold')
