webfont('CarminaBT-Bold', '../../../webfonts/CarminaBT-Bold')
webfont('CarminaBT-Light', '../../../webfonts/CarminaBT-Light')
webfont('Futura-Book', '../../../webfonts/Futura-Book')
webfont('Futura-Bold', '../../../webfonts/Futura-Bold')

body
  background var(--background-0)
  color var(--text-1-color)
  margin 0
  padding 0
  user-select none

*
  box-sizing border-box
  text-size-adjust none
  -webkit-tap-highlight-color transparent

figure
  margin 0
  padding 0

img
svg
  height auto
  vertical-align middle
  width 100%

svg
  pointer-events none

h1
h2
h3
p
ul
ol
  margin 0
  padding 0

h1
h2
h3
  line-height 1.1

h1
  font-size em(24)

h2
  font-size em(18)
  margin 1em 0

h3
  font-size em(18)

p
  line-height 1.5

b
strong
  font-weight normal

a
  link(var(--brand-color), var(--brand-color), var(--text-1-color), var(--text-1-color))
  outline 0
  text-decoration none

[no-touch] a
  transition .3s ease

button
  background 0
  border 0
  color inherit
  cursor pointer
  font inherit
  margin 0
  outline 0
  overflow visible
  padding 0
