:root
  --dark-grey #333
  --light-grey #aaa
  --lighter-grey #eee
  --medium-grey #777
  --off-white #f2f2f2

  --border-color #eee
  --badge-color #ffc500
  --brand-color BRAND_COLOR

  --link LINK_COLOR
  --link-visited LINK_VISITED

  --heading-1 px_to_em(24)
  --heading-2 px_to_em(18)
  --heading-3 px_to_em(18)

  --header-height px_to_rem(44)
  --margin '%s' % Margin.BASE

  @media Breakpoint.SMALL
    --margin '%s' % Margin.SMALL

  @media Breakpoint.MEDIUM
    --columns 2
    --header-height px_to_rem(56)
    --margin '%s' % Margin.MEDIUM

  @media Breakpoint.LARGE
    --columns 3
    --margin '%s' % Margin.LARGE
