:root
  --header-height rem(48)
  --margin margin-base
  --previews-gap 1px

  @media breakpoint.small
    --margin margin-small

  @media breakpoint.medium
    --header-height rem(56)
    --margin margin-medium
    --previews-columns 2

  @media breakpoint.large
    --margin margin-large
    --previews-columns 3

  --background-0 background-0
  --background-1 background-1
  --badge-color badge-color
  --border-color border-color
  --brand-color brand-color
  --checked-color checked-color
  --header-color header-color
  --link-color link-color
  --overflow-overlay-background overflow-overlay-background
  --overlay-background overlay-background
  --overlay-shadow overlay-shadow
  --text-1-color text-1-color
  --text-2-color text-2-color
  --text-3-color text-3-color

  @media (prefers-color-scheme dark)
    --background-0 background-0-dark
    --background-1 background-1-dark
    --badge-color badge-color-dark
    --border-color border-color-dark
    --brand-color brand-color-dark
    --checked-color checked-color-dark
    --header-color header-color-dark
    --link-color link-color-dark
    --overflow-overlay-background overflow-overlay-background-dark
    --overlay-background overlay-background-dark
    --overlay-shadow overlay-shadow-dark
    --text-1-color text-1-color-dark
    --text-2-color text-2-color-dark
    --text-3-color text-3-color-dark
