ICON_CODE = '\f121'

.css-debugger
  .attr::before
    content ICON_CODE

body.attr
  a[href]:not([title])
    border 1px solid RED

  a[title=""]
    outline 1px dotted RED

  a[href="#"]
    background lime

  a[href=""]
    background fuchsia

  *[class=""]
  *[id=""]
    outline 1px dotted RED

  div:empty
  span:empty
  li:empty
  p:empty
  td:empty
  th:empty
    outline 1px dotted green

  img[alt=""]
    border 1px solid RED

  img:not([alt])
    border 1px dotted RED

  img[title=""]
    outline 1px solid fuchsia

  img:not([title])
    outline 1px dotted fuchsia

  table:not([summary])
    outline 5px solid RED

  table[summary=""]
    outline 3px dotted RED

  th
    border 2px solid RED

  th[scope="col"]
  th[scope="row"]
    border none

  *[style]
  font
  center
    outline 1px solid RED

  // ignore styles for debugger
  .css-debugger
    a
      background transparent !important
      border none !important
      outline none !important
