ICON_RESIZE_HORIZONTAL = '\e800'
ICON_MOBILE = '\f10b'
ICON_TABLET = '\f10a'
ICON_LAPTOP = '\f109'
ICON_DESKTOP = '\f108'

.css-debugger
  .breakpoints::before
    content ICON_RESIZE_HORIZONTAL

  .breakpoint
    align-items center
    border-left 1px solid #787878
    color WHITE
    display flex
    margin 0
    padding .5em .75em

    &::after
      content 'base'

      @media(min-width BREAKPOINT_SMALL)
        content 'small'

      @media(min-width BREAKPOINT_MEDIUM)
        content 'medium'

      @media(min-width BREAKPOINT_LARGE)
        content 'large'

      @media(min-width BREAKPOINT_XLARGE)
        content 'xlarge'

    &::before
      content ICON_MOBILE
      debug_icon()
      font-size 1.5em
      margin-right .25em

      @media (min-width BREAKPOINT_MEDIUM)
        content ICON_TABLET

      @media (min-width BREAKPOINT_LARGE)
        content ICON_LAPTOP

      @media (min-width BREAKPOINT_XLARGE)
        content ICON_DESKTOP
