ICON_ALIGN_JUSTIFY = '\e801'

.css-debugger
  .guides::before
    content ICON_ALIGN_JUSTIFY
    transform rotate(90deg)

body.guides
  background-color transparent
  background-image url('/ui/img/debug-rule.png'), url('/ui/img/debug-rule.png'), url('/ui/img/debug-rule.png')
  background-position left MARGINS_BASE top 0, right MARGINS_BASE top 0
  background-repeat repeat-y

  @media (min-width BREAKPOINT_SMALL)
    background-position top center, left MARGINS_SMALL top 0, right MARGINS_SMALL top 0

  @media (min-width BREAKPOINT_MEDIUM)
    background-position top center, left MARGINS_MEDIUM top 0, right MARGINS_MEDIUM top 0

  @media (min-width BREAKPOINT_LARGE)
    background-position top center, left MARGINS_LARGE top 0, right MARGINS_LARGE top 0

  @media (min-width BREAKPOINT_XLARGE)
    background-position top center, 'calc(50% - %s)' % (WIDTH_XLARGE/2) 0, 'calc(50% + %s)' % (WIDTH_XLARGE/2) 0

  img
    opacity .75 !important
