// ----------------------------------------
// .previews grids (multiple)

previews-grid()
  display flex
  flex-direction row
  flex-wrap wrap

  @media(min-width breakpoint-medium)
    .preview
      a
        border 1px solid border-color


// ----------------------------------------
// .preview grids (single)

preview-grid()
  margin -1px 0 0 -1px
  width calc(50% + 1px)

preview-grid-large()
  width calc((1/3 * 100%) + 1px)


// ----------------------------------------
// .preview

preview()
  position relative
  list-style none

  a
    display flex
    flex-direction row
    align-items center
    background white
    border-top 1px solid border-color
    link(dark-grey, medium-grey, brand-color)

  h3
    serif-heavy()
    line-height 1.1

  .summary
    flex-grow 1
    margin-left .5rem

  &:last-child
    a
      border-bottom 1px solid border-color

preview-no-touch()
  a
    link-hover(brand-color)


// ----------------------------------------
// .cover

cover()
  figure
    aspect-ratio(1, 1)
  img
    animation fade-in .5s ease-out
