// --------------------
// greys

off-white = #f2f2f2
lighter-grey = #eee
light-grey = #aaa
medium-grey = #777
dark-grey = #333

// --------------------
// colors

red = #f00
dark-red = #c00
orange = #ffc500
material-blue = #2196f3

// --------------------
// links and borders

brand-color = material-blue
brand-color-visited = mix(brand-color, white, 50%)

border-color = lighter-grey
