// --------------------------------------------------
// margins and breakpoints

margins-base = .75rem

margins-small = 1.5rem
width-small = 25rem
breakpoint-small = width-small + (2 * margins-small) // 448

margins-medium = 3rem
width-medium = 40rem
breakpoint-medium = width-medium + (2 * margins-medium) // 736

margins-large = 4rem
width-large = 54rem
breakpoint-large = width-large + (2 * margins-large) // 1024

width-xlarge = 70rem
breakpoint-xlarge = width-xlarge + (2 * margins-large) // 1248


// --------------------------------------------------
// NEW header heights

header-height-base = 2.75rem
header-height-medium = 3.5rem
//header-height-large = 4.5rem
