body-font()
  font-family 'Futura-Book', sans-serif
  font-weight normal

body-font-bold()
  font-family 'Futura-Bold', sans-serif
  font-weight normal

small-caps(font-size)
  font-size em(font-size)
  text-transform uppercase
  letter-spacing .1em

heading-bold()
  font-family 'CarminaBT-Bold', serif
  font-weight normal

heading-light()
  font-family 'CarminaBT-Light', serif
  font-weight normal

icon()
  font-family 'Icons', sans-serif
