sans()
  font-family 'Futura-Book', sans-serif
  font-weight normal

sans-heavy()
  font-family 'Futura-Bold', sans-serif
  font-weight normal

serif()
  font-family 'CarminaBT-Light', serif
  font-weight normal

serif-heavy()
  font-family 'CarminaBT-Bold', serif
  font-weight normal

small-caps(font-size)
  font-size em(font-size)
  text-transform uppercase
  letter-spacing .1em

icon()
  font-family 'Icons', sans-serif
