@import 'functions'

// @const String
BRAND_COLOR = #e5001f

// @const String
LINK_COLOR = #1565c0

// @const String
LINK_VISITED = mix(LINK_COLOR, white, 50%)

// @const String
PAGE_MAX_WIDTH = px_to_rem(800)

// @const String
PAGE_WIDTH_STACKED = px_to_rem(560)

// @type Hash
Icon = {
  ANGLE_LEFT: '\e802'
  ANGLE_RIGHT: '\e803' // not used
  CANCEL: '\e809' // not used
  CANCEL_CIRCLED: '\e808'
  CIRCLE_EMPTY: '\e806'
  HEART: '\e80a'
  HEART_EMPTY: '\e80b'
  LEFT_OPEN: '\e800' // not used
  OK_CIRCLED: '\e807'
  RIGHT_OPEN:  '\e801'
  SEARCH: '\e804'
  USER: '\e805'  // not used
}

// @type Hash
BreakpointUnits = {
  SMALL: px_to_rem(480)
  MEDIUM: px_to_rem(768)
  LARGE: px_to_rem(1024)
  XLARGE: px_to_rem(1280)
}

// @type Hash
Margin = {
  BASE: px_to_rem(12)
  SMALL: px_to_rem(24)
  MEDIUM: px_to_rem(36)
  LARGE: px_to_rem(48)
}

// @type Hash
// @require BreakpointUnits
Breakpoint = {
  SMALL: 'screen and (min-width: %s)' % BreakpointUnits.SMALL
  MEDIUM: 'screen and (min-width: %s)' % BreakpointUnits.MEDIUM
  LARGE: 'screen and (min-width: %s)' % BreakpointUnits.LARGE
  XLARGE: 'screen and (min-width: %s)' % BreakpointUnits.XLARGE
  SEARCH_ENABLED: 'screen and (max-width: %s)' % BreakpointUnits.MEDIUM
}

// @type Hash
// @require BreakpointUnits
// @require Margin
ElementWidth = {
  SMALL: BreakpointUnits.SMALL - (2 * Margin.SMALL)
  MEDIUM: BreakpointUnits.MEDIUM - (2 * Margin.MEDIUM)
  XLARGE: BreakpointUnits.XLARGE - (2 * Margin.LARGE)
}
