@import 'functions'

// @type Hash
Color = {
  DARK_RED: #c00
  DARK_GREY: #333
  LIGHT_GREY: #aaa
  LIGHTER_GREY: #eee
  MATERIAL_BLUE_800: #1565c0
  MEDIUM_GREY: #777
  OFF_WHITE: #f2f2f2
  ORANGE: #ffc500
  RED: #f00
}

// @type Hash
FontSize = {
  Base: {
    H1: px_to_em(24)
    H2: px_to_em(18)
    H3: px_to_em(18)
  }
}

// @type Hash
Icon = {
  ANGLE_LEFT: '\e802'
  ANGLE_RIGHT: '\e803' // not used
  CANCEL: '\e809' // not used
  CANCEL_CIRCLED: '\e808'
  CIRCLE_EMPTY: '\e806'
  HEART: '\e80a'
  HEART_EMPTY: '\e80b'
  LEFT_OPEN: '\e800' // not used
  OK_CIRCLED: '\e807'
  RIGHT_OPEN:  '\e801'
  SEARCH: '\e804'
  USER: '\e805'  // not used
}

// @type Hash
Layout = {
  BreakpointUnits: {
    SMALL: px_to_rem(480)
    MEDIUM: px_to_rem(768)
    LARGE: px_to_rem(1024)
    XLARGE: px_to_rem(1280)
  }
  HeaderHeight: {
    BASE: px_to_rem(44)
    MEDIUM: px_to_rem(56)
  }
  Margin: {
    BASE: px_to_rem(12)
    SMALL: px_to_rem(24)
    MEDIUM: px_to_rem(36)
    LARGE: px_to_rem(48)
  }
  Width: {
    PAGE_MAX_WIDTH: px_to_rem(800)
    STACKED: px_to_rem(560)
  }
}

// TODO: create Transition hash and update selectors and properties
// where applicable.

// -----------------------------------------------------------------------------
// Hashes with hash dependencies.

// @type Hash
// @require Color
Branding = {
  BORDER: Color.LIGHTER_GREY
  PRIMARY: Color.MATERIAL_BLUE_800
  SECONDARY: mix(Color.MATERIAL_BLUE_800, white, 50%)
}

// @type Hash
// @require Layout
Breakpoint = {
  SMALL: '(min-width: %s)' % Layout.BreakpointUnits.SMALL
  MEDIUM: '(min-width: %s)' % Layout.BreakpointUnits.MEDIUM
  LARGE: '(min-width: %s)' % Layout.BreakpointUnits.LARGE
  XLARGE: '(min-width: %s)' % Layout.BreakpointUnits.XLARGE
  SEARCH_ENABLED: '(max-width: %s)' % Layout.BreakpointUnits.MEDIUM
}

// @type Hash
// @require Layout
ElementWidth = {
  SMALL: Layout.BreakpointUnits.SMALL - (2 * Layout.Margin.SMALL)
  MEDIUM: Layout.BreakpointUnits.MEDIUM - (2 * Layout.Margin.MEDIUM)
  LARGE: Layout.BreakpointUnits.LARGE - (2 * Layout.Margin.LARGE) // not used
  XLARGE: Layout.BreakpointUnits.XLARGE - (2 * Layout.Margin.LARGE)
}
