@import 'constants'
@import 'functions'

// @mixin
// @param Number width
// @param Number height
aspect_ratio(width, height)
  padding 0 0 ((height / width) * 100%)
  position relative

  img
    bottom 0
    left 0
    position absolute
    right 0
    top 0

// @mixin
icon()
  font-family 'Icons', sans-serif

// @mixin
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link(link, visited, hover, active)
  &
    &:link
      color link

    &:visited
      color visited

    &:focus
    &:active
      color active

  [no-touch] &
    &:hover
      color hover

// @mixin
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link_background(link, visited, hover, active)
  &
    &:link
      background-color link

    &:visited
      background-color visited

    &:focus
    &:active
      background-color active

  [no-touch] &
    &:hover
      background-color hover

// @mixin
// @param String position
// @param Number|String top
// @param Number|String right
// @param Number|String bottom
// @param Number|String left
position_it(position, top, right, bottom, left)
  position position
  if top != null
    top top
  if right != null
    right right
  if bottom != null
    bottom bottom
  if left != null
    left left

// TODO: Remove mixin and place styles with refactored/BEM-ified selector.
// @mixin
preview()
  list-style none
  position relative

  a
    align-items center
    background white
    border-top 1px solid var(--border-color)
    display flex
    link(var(--color-grey-dark), var(--color-grey-medium), var(--brand-color), var(--brand-color))

  a.visited
    color var(--color-grey-medium)

  h3
    line-height 1.1
    margin .2em 0
    typeface('serif_bold')

  .summary
    flex-grow 1
    margin 0 1rem 0 .5rem

  &:last-child a
    border-bottom 1px solid var(--border-color)

// @mixin
// @param String size [null]
preview_width(size = null)
  if size == 'large'
    width calc((1/3 * 100%) + 1px)
  else
    width calc(50% + 1px)

// @mixin
// @param Number font_size [12]
small_caps(font_size = 12)
  font-size px_to_em(font_size)
  letter-spacing .1em
  text-transform uppercase

// TODO: Remove mixin and place styles with refactored/BEM-ified selector.
// @mixin
tabs()
  align-items center
  border 1px solid var(--brand-color)
  display flex
  overflow hidden

// TODO: Remove mixin and place styles with refactored/BEM-ified selector.
// @mixin
tabs_item()
  background white
  flex 1 1
  line-height 1
  list-style none
  margin 0

  &:not(:last-child)
    border-right 1px solid var(--brand-color)

// TODO: Remove mixin and place styles with refactored/BEM-ified selector.
// @mixin
tabs_link()
  display block
  link(var(--brand-color), var(--brand-color), var(--brand-color), var(--brand-color))
  link_background(white, white, rgba(BRAND_COLOR, .1), rgba(BRAND_COLOR, .1))
  padding .75em 1em
  small_caps()
  text-align center
  typeface('sans_bold')

  &.current
    background var(--brand-color)
    color white
    cursor default

  [no-touch] &
    &.current:hover
      background var(--brand-color)
      color white

// @mixin
// @param String name
typeface(name)
  if name == 'sans'
    font-family 'Futura-Book', sans-serif
  if name == 'sans_bold'
    font-family 'Futura-Bold', sans-serif
  if name == 'serif'
    font-family 'CarminaBT-Light', serif
  if name == 'serif_bold'
    font-family 'CarminaBT-Bold', serif
  font-weight normal

// @mixin
// @param String name
// @param String file
webfont(name, file)
  @font-face
    font-display block
    font-family name
    src url(file + '.eot')
    src url(file + '.woff') format('woff'),
        url(file + '.woff2') format('woff2'),
        url(file + '.ttf') format('truetype')
