/* ---------------------------------------- */
/* App. */

gc-app {
  display: grid;
  grid: var(--app-grid);
  margin-inline: var(--app-margin);
  min-block-size: 100dvh;
}

/* ---------------------------------------- */
/* Main. */

gc-app > main {
  aspect-ratio: var(--main-aspect-ratio, unset);
  block-size: var(--main-block-size);
  border-radius: var(--main-border-radius);
  display: grid;
  grid: 'view' 1fr / 1fr;
  grid-area: main;
  overflow: hidden;
  place-self: center;
}

/* ---------------------------------------- */
/* View components. */

.view {
  background-color: var(--view-background);
  display: var(--view-display);
  grid: var(--view-grid);
  grid-area: view;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &[inert] {
    pointer-events: none;
  }

  &:not([inert]) {
    z-index: 1;
  }
}

:is(gc-home, gc-chapter, gc-page) {
  background-color: var(--body-background);
}

/* ---------------------------------------- */
/* View component elements. */

.content {
  background-color: var(--content-background);
  grid-area: content;
  padding-block: var(--gap);
  padding-inline: var(--gap);
}

.badge {
  background-color: var(--gray5);
  border-radius: .25rem;
  display: inline-block;
  padding-block: .25em;
  padding-inline: .75em;
}

gc-chapter .count {
  margin-block: 2rem 1em;
}
