/* -------------------------------------------------------------------------- */
/* Styles for app and its primary child elements. */
/* -------------------------------------------------------------------------- */

gc-app {
  display: grid;
  grid: var(--app-grid);
  margin-inline: var(--app-margin);
  min-block-size: 100dvh;
}

/* ---------------------------------------- */
/* Main. */

main {
  aspect-ratio: var(--main-aspect-ratio, unset);
  block-size: var(--main-block-size);
  border-radius: var(--main-border-radius);
  display: grid;
  grid: 'view' 1fr / 1fr;
  grid-area: var(--main-grid-area);
  overflow: hidden;
  place-self: center;
  transition: opacity .5s;
}

[data-loading] {
  opacity: 0;
}

/* ---------------------------------------- */
/* View components. */

.view {
  background-color: var(--view-background);
  display: var(--view-display);
  grid: var(--view-grid);
  grid-area: view;
  overflow: auto;
  padding-block: var(--view-padding-block);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &[inert] {
    pointer-events: none;
  }

  &:not([inert]) {
    z-index: 1;
  }
}

:is(gc-home, gc-chapter, gc-page) {
  background-color: var(--body-background);
}

/* ---------------------------------------- */
/* View component children. */

.content {
  background-color: var(--content-background);
  border-radius: var(--content-border-radius);
  grid-area: content;
}

.copy {
  padding-block: var(--gap);
  padding-inline: var(--gap);
}

.copy.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  margin-block-end: var(--gap);
  overflow: hidden;
  padding-block-end: 0;
}

.badge {
  background-color: var(--badge-background);
  border-radius: .25rem;
  display: inline-block;
  padding-block: .25em;
  padding-inline: .75em;
}
