/* ---------------------------------------- */
/* App */

gc-app {
  block-size: 100dvh;
  display: grid;
  grid: var(--header-size) 1fr / 1fr minmax(auto, var(--section-max-width)) 1fr;
}

/* ---------------------------------------- */
/* Main */

gc-app > main {
  block-size: 100dvh;
  display: grid;
  grid: 'content' 1fr / 1fr;
  grid-area: 1 / 2 / 2 / 2;
  max-inline-size: var(--section-max-width);
  overflow: hidden;
}

gc-app > main > * {
  grid-area: content;
}

/* ---------------------------------------- */
/* Main components */

:is(gc-home, gc-chapter, gc-recipe, gc-page) {
  overflow: auto;
  padding-block: var(--header-size) 0;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &[inert] {
    pointer-events: none;
  }

  &:not([inert]) {
    z-index: 1;
  }
}

:is(gc-home, gc-chapter, gc-page) {
  background-color: var(--body-background);
}

:is(gc-recipe, gc-page) {
  background-color: var(--content-background);
}

:is(gc-chapter, gc-recipe) {
  display: block;
  max-inline-size: var(--section-max-width);
}

.overview {
  padding-inline: 1rem;
}

/* ---------------------------------------- */
/* Footer */

footer {
  background-color: var(--body-background);
  display: grid;
  grid: 1fr / 1fr;
  padding-block: 3rem;
  place-items: center;
}

footer > img {
  block-size: 1rem;
  inline-size: auto;
}
