// --------------------------------------------------
// Layout: root.

gc-app {
  block-size: 100dvh;
  display: grid;
  grid: var(--header-size) 1fr var(--footer-size) / 1fr auto 1fr;
}

gc-app > header {
  background-color: var(--header-background);
  display: grid;
  grid: 1fr / 1fr;
  inset-block: 0 auto;
  inset-inline: 0 0;
  position: fixed;
  z-index: 2;
}

gc-app > header > picture {
  place-self: center;
}

gc-app > header > picture > img {
  block-size: var(--header-size);
  inline-size: auto;
}

gc-app > main {
  block-size: calc(100dvh - var(--footer-size));
  display: grid;
  grid: 'content' 1fr / 1fr;
  grid-area: 1 / 2 / 2 / 2;
  max-inline-size: var(--section-max-width);
  overflow: hidden;
}

gc-app > main > * {
  grid-area: content;
}

gc-app > footer {
  block-size: var(--footer-size);
  display: grid;
  grid: 1fr / 1fr;
  grid-area: 3 / 1 / 3 / 4;
  place-items: center;
}

gc-app > footer > img {
  block-size: 1rem;
  inline-size: auto;
}

// --------------------------------------------------
// Layout: views.

:is(gc-home, gc-chapter, gc-recipe, gc-page) {
  padding-block: var(--header-size) var(--footer-size);
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:is(gc-chapter, gc-recipe) {
  display: block;
  max-inline-size: var(--section-max-width);
}

gc-chapter :is(h1, p) {
  margin-inline: 1rem;
}

// --------------------------------------------------
// Previews.

:is(gc-home, gc-chapter) {
  :is(ul, ol) {
    display: grid;
    grid: auto-flow / 1fr;
    gap: 1rem 0;
    list-style: none;
    margin-block: 0 4rem;
    margin-inline: 1rem;
    padding: 0;
  }

  a {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid: 'thumb copy' var(--thumb-size) / var(--thumb-size) 1fr;
  }

  a > * {
    pointer-events: none;
  }

  a > img {
    aspect-ratio: 1;
    border-radius: .25rem;
    grid-area: thumb;
    object-fit: cover;
  }
}

// --------------------------------------------------
// Typography.

gc-home h2 {
  font-family: 'Futura Book';
  font-size: var(--subhead-font-size);
  letter-spacing: .25em;
  margin-block: 1rem;
  margin-inline: 1rem;
  text-transform: uppercase;
}

gc-page h2,
gc-recipe :is(.badge, .cost, h2, h3),
:is(gc-home, gc-chapter) li {
  font-family: 'Futura Bold';
  font-size: var(--subhead-font-size);
  letter-spacing: .25em;
  text-transform: uppercase;
}

:is(gc-page, .ingredients) li {
  font-family: 'Futura Book';  
}

// --------------------------------------------------
// Transitions.

[aria-hidden='true'] {
  z-index: -1;
  pointer-events: none;
}

[aria-hidden='false'] {
  z-index: 1;
}

[transition] {
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

[transition='start-in'] {
  animation-name: startIn;
}

[transition='start-out'] {
  animation-name: startOut;
}

[transition='end-in'] {
  animation-name: endIn;
}

[transition='end-out'] {
  animation-name: endOut;
}

@keyframes startIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes startOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes endIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes endOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
