/* -------------------------------------------------------------------------- */
/* Base HTML styles.
/* -------------------------------------------------------------------------- */

/**
 * Webfonts.
 */
@font-face {
  font-display: swap;
  font-family: 'Carmina Bold';
  src: url('../fonts/CarminaBT-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Carmina Light';
  src: url('../fonts/CarminaBT-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura Bold';
  src: url('../fonts/Futura-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Futura Book';
  src: url('../fonts/Futura-Book.woff2') format('woff2');
}

/* ---------------------------------------- */
/* Top-level elements. */

* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  background-color: var(--body-background);
  color: var(--text-color);
  display: grid;
  font-family: 'Carmina Light', serif;
  font-size: clamp(.9rem, calc(.7rem + 1vw), 1.1rem);
  grid: 1fr / 1fr;
  margin: 0;
  place-content: center;
}

noscript {
  padding: 1.5em;
  text-align: center;
}

/* ---------------------------------------- */
/* Text content. */

:is(p, li) {
  line-height: var(--base-line-height);
}

/* ---------------------------------------- */
/* Responsive images. */

img,
svg {
  block-size: auto;
  inline-size: 100%;
  vertical-align: middle;
}

svg {
  pointer-events: none;
}

/* ---------------------------------------- */
/* Buttons. */

button {
  appearance: none;
  background-color: var(--button-background);
  block-size: var(--button-size);
  border: none;
  border-radius: var(--button-size);
  color: inherit;
  cursor: pointer;
  margin: 0;
  min-inline-size: var(--button-size);
  outline: none;
  padding: 0;
  white-space: nowrap;

  &.touch,
  &:focus-visible {
    background-color: var(--button-hover-background);
  }

  @media (any-hover: hover) {
    & {
      transition: background-color var(--transition), color var(--transition);
    }
  
    &:hover {
      background-color: var(--button-hover-background);
    }
  }
}

/* ---------------------------------------- */
/* Links. */

a {
  color: var(--link-color);
  outline: none;
  text-decoration: none;

  &:visited {
    color: var(--link-visited-color);
  }
  
  &:focus-visible {
    color: var(--link-focus-color);
  }
  
  &.touch,
  &:active {
    color: var(--link-active-color, var(--link-focus-color));
  }
  
  @media (any-hover: hover) {
    & {
      transition: color var(--transition);
    }
  
    &:hover {
      color: var(--link-focus-color);
    }
  }
}
