gc-chapter {
  display: block;
  max-inline-size: var(--section-max-width);
}

gc-chapter :is(h1, p) {
  margin-inline: 1rem;
}

gc-chapter a {
  align-items: center;
  display: grid;
  font-family: 'Futura Bold';
  font-weight: normal;
  gap: 1rem;
  grid: 'thumb copy' 7rem / 7rem 1fr;
  letter-spacing: .1em;
  text-transform: uppercase;
}

gc-chapter a > * {
  pointer-events: none;
}

gc-chapter a > img {
  aspect-ratio: 1;
  object-fit: cover;
  grid-area: thumb;
}

gc-chapter :is(ul, ol) {
  list-style: none;
  padding: 0;
}

gc-chapter li {
  font-family: 'Futura Bold';
}

