/* Cover photo for everything but home page. */
.cover {
  display: grid;
  grid: 1fr / 1fr;
  grid-area: cover;
  inset-block: var(--cover-inset, initial);
  place-self: start stretch;
  position: var(--cover-position, static);
}

.cover__photo {
  aspect-ratio: 1;
  background-color: var(--image-background);
  display: grid;
  grid: 1fr / 1fr;
  grid-area: 1 / 1 / -1 / -1;
  overflow: hidden;
  margin: 0;
  place-content: center;

  :is(img, svg) {
    grid-area: 1 / 1 / -1 / -1;
    place-self: center;
  }

  svg {
    fill: currentColor;
    inline-size: 2em;
  }

  img {
    aspect-ratio: 1;
    object-fit: cover;
    transition: opacity var(--transition);
    z-index: 1;
  }

  img[aria-hidden='true'] {
    opacity: 0;
  }
}
