/* -------------------------------------------------------------------------- */
/* Favorites view via a <button> that toggles a <dialog>. */
/* -------------------------------------------------------------------------- */

gc-favorites {
  display: contents;

  button {
    aspect-ratio: 1;
  }

  /**
   * [1] Override to enable transitions.
   * [2] Browser overrides for fullscreen layout.
   * [3] Ensure <dialog> is hidden since it has 'display' override.
   */
  dialog {
    background: none;
    block-size: 100dvh;
    border: none;
    display: grid;  /* [1] */
    grid: var(--app-grid);
    inline-size: 100dvw;
    margin: 0;
    max-block-size: 100dvh;  /* [2] */
    max-inline-size: 100dvw;  /* [2] */
    outline: none;
    overflow: auto;
    padding: 0;
    
    &:not([open]) {
      display: none;  /* [3] */
    }
  
    &::backdrop {
      background: none;
    }
  }

  /**
   * Container element whose layout mimics the <main> element.
   */
  .dialog {
    aspect-ratio: var(--main-aspect-ratio, unset);
    block-size: var(--main-block-size);
    border-radius: var(--main-border-radius);
    grid-area: 2 / 2;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /**
   * Child element with transitions applied to it.
   */
  .content {
    background-color: var(--content-background);
    transition: transform var(--transition);
  }

  dialog[inert] .content {
    transform: translateY(100%);
  }
}
