/* -------------------------------------------------------------------------- */
/* Favorites view via a <button> that toggles a <dialog>. */
/* -------------------------------------------------------------------------- */

gc-favorites {
  display: contents;

  button {
    aspect-ratio: 1;
  }

  /* [1] Override to enable transitions. */
  /* [2] Browser overrides for fullscreen layout. */
  /* [3] Ensure <dialog> is hidden since it has 'display' override. */
  
  dialog {
    background: none;
    block-size: 100dvh;
    border: none;
    display: grid;  /* [1] */
    grid: var(--app-grid);
    inline-size: 100dvw;
    margin: 0;
    max-block-size: 100dvh;  /* [2] */
    max-inline-size: 100dvw;  /* [2] */
    outline: none;
    overflow: auto;
    padding: 0;
    scrollbar-width: none;
    transition: transform var(--transition);

    &::-webkit-scrollbar {
      display: none;
    }

    &[inert] {
      transform: translateY(100%);
    }

    &:not([open]) {
      display: none;  /* [3] */
    }
  
    &::backdrop {
      background: none;
    }
  }

  dialog > div {
    background-color: var(--content-background);
    grid-area: 2 / 2;
  }
}
