.favorite {
  aspect-ratio: 1;
  background: none;
  inline-size: 2.5rem;
  position: absolute;

  &.touch,
  &:focus-visible {
    background: none;
  }

  @media (any-hover: hover) {
    &:hover {
      background: none;
    }
  }
}

.favorite svg {
  inline-size: 1.25rem;
  fill: none;
  pointer-events: none;
  stroke: var(--favorite-color);
  stroke-linecap: round;
  stroke-width: 2.5px;
}

.favorite[data-checked='true'] svg {
  fill: var(--favorite-background); 
}
