footer {
  display: var(--footer-display);
  grid: 1fr / 1fr;
  grid-area: footer;
  padding-block: var(--footer-padding);
  place-items: center;
  place-self: center;
  text-align: center;

  small {
    display: block;
    line-height: 1.5;
  }

  img {
    block-size: 1rem;
    inline-size: auto;
    margin-block: 0 1em;
  }
}
