/* -------------------------------------------------------------------------- */
/* Footer element: site-wide and within content, depending on breakpoint.
/* -------------------------------------------------------------------------- */

footer {
  border-block-start: var(--footer-border);
  display: var(--footer-display);
  grid-area: var(--footer-grid-area);
  padding-block: var(--footer-padding);
  padding-inline: var(--footer-padding);
  place-self: center stretch;
  text-align: center;

  small {
    display: block;
    line-height: 1.5;
  }

  img {
    block-size: 1rem;
    inline-size: auto;
    margin-block: 0 .5rem;
  }
}
