footer {
  background-color: var(--footer-background);
  display: grid;
  grid: 1fr / 1fr;
  margin-inline: -1rem;
  padding-block: 3rem;
  place-items: center;
  text-align: center;
}

footer small {
  display: block;
  line-height: 1.5;
}

footer img {
  block-size: 1rem;
  inline-size: auto;
  margin-block: 0 1em;
}