/* ---------------------------------------- */
/* App header. */

header {
  background-color: var(--header-background);
  grid-area: header;
  inset-block: 0 auto;
  place-self: end stretch;
  position: var(--header-position);
  z-index: 2;

  /* Layout wrapper. */
  & > div {
    display: grid;
    gap: var(--header-gap, 0);
    grid: var(--header-grid);
    margin: 0 auto;
    max-inline-size: var(--section-max-size);
  }

  /* Wordmark. */
  picture {
    grid-area: wordmark;
    place-self: center;
  }

  picture > img {
    block-size: var(--header-size);
    inline-size: auto;
  }
}

/* ---------------------------------------- */
/* App 'Back' button. */

[id='back'] {
  --button-size: 2rem;

  align-items: center;
  background-color: var(--gray5);
  block-size: var(--button-size);
  border-radius: var(--button-size);
  display: flex;
  grid-area: back;
  min-inline-size: var(--button-size);
  padding-inline: 0;
  place-self: center start;
  white-space: nowrap;
  
  &[disabled] {
    display: none;
  }

  & > * {
    pointer-events: none;
  }

  span {
    display: var(--back-label-display);
    margin-inline: 0 1rem;
  }

  svg {
    fill: none;
    flex: 0 0 1.5rem;
    margin-inline: .25rem 0;
    stroke: currentColor;
    stroke-width: 3px;
  }
}
