/* -------------------------------------------------------------------------- */
/* Site-wide header element.
/* -------------------------------------------------------------------------- */

header {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--header-background);
  border-block-end: var(--header-border);
  grid-area: 1 / 1 / 2 / 4;
  place-self: center stretch;
  position: var(--header-position);
  inset-block: 0 auto;
  inset-inline: 0;
  z-index: 3;

  /**
   * Layout wrapper.
   */
  .header {
    display: grid;
    gap: var(--header-gap);
    grid: var(--header-grid);
    margin: 0 auto;
    max-inline-size: var(--section-max-inline-size);
  }

  /**
   * Wordmark.
   */
  .wordmark {
    grid-area: wordmark;
    place-self: center;
    transition: transform var(--transition);

    &.touch {
      transform: scale(.9);
    }

    @media (any-hover: hover) {
      &:active {
        transform: scale(.9);
      }
    }
  }

  .wordmark > *,
  .wordmark[disabled] {
    pointer-events: none;
  }

  .wordmark img {
    block-size: 2.5em;
    inline-size: auto;
  }
}

/**
 * 'Back' button.
 */
.back {
  background: none;
  display: grid;
  grid: auto / var(--button-size) auto;
  grid-area: back;
  place-items: center;
  place-self: center start;

  &[disabled] {
    display: none;
  }

  & > * {
    pointer-events: none;
  }

  svg {
    inline-size: var(--icon-size);
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 2.5;
  }

  span {
    display: var(--back-button-label-display);
    margin-inline: -.5em 1rem;
  }
}
