/* -------------------------------------------------------------------------- */
/* Icon <button> styles for saving/removing recipes. */
/* -------------------------------------------------------------------------- */

/**
 * The 'favorite' and 'remove' buttons.
 */
:is(.favorite, .remove) {
  aspect-ratio: 1;
  background: none;
  inset-block: .5rem auto;
  inset-inline: auto .5rem;
  position: absolute;

  svg {
    inline-size: var(--icon-size);
    stroke: var(--icon-color);
    stroke-linecap: round;
  }

  @media (any-hover: hover) {
    &:hover {
      background: none;
    }
  }
}

/**
 * The 'favorite' button.
 */
.favorite {
  svg {
    fill: none;
    stroke-width: 2.5px;
  }

  &.touch,
  &:focus-visible {
    svg {
      stroke: var(--icon-favorite-color);
    }
  }

  @media (any-hover: hover) {
    & svg {
      transition: fill var(--transition), stroke var(--transition);
    }

    &:hover svg {
      stroke: var(--icon-favorite-color);
    }
  }

  &[data-checked='true'] svg {
    fill: var(--icon-favorite-background);
    stroke: var(--icon-favorite-color);
  }
}

/**
 * The 'remove' button.
 */
.remove  {
  display: grid;
  place-items: center;

  svg {
    border: 2px solid var(--icon-color);
    border-radius: var(--icon-size);
    stroke-width: 3px;
  }

  &.touch,
  &:focus-visible {
    svg {
      background-color: var(--icon-remove-background);
      border-color: var(--icon-remove-color);
      stroke: var(--icon-remove-color);
    }
  }

  @media (any-hover: hover) {
    & svg {
      transition: background-color var(--transition), border-color var(--transition), stroke var(--transition);
    }

    &:hover svg {
      background-color: var(--icon-remove-background);
      border-color: var(--icon-remove-color);
      stroke: var(--icon-remove-color);
    }
  }
}
