/* Responsive images */
img {
  block-size: auto;
  inline-size: 100%;
  vertical-align: middle;
}

/* Cover photo for everything but home page. */
.cover-photo {
  aspect-ratio: 1;
  inline-size: 100%;
  margin: 0;
}

.cover-photo > img {
  aspect-ratio: 1;
  background: var(--fill-2);
  object-fit: cover;
}
