.previews {
  border: var(--previews-border);
  border-radius: var(--previews-border-radius);
  display: grid; 
  gap: var(--previews-gap);
  grid: var(--previews-grid);
  list-style: none;
  margin-block: 0;
  margin-inline: var(--previews-margin);
  overflow: hidden;
  padding: 0;

  li {
    background-color: var(--content-background);
    border: var(--preview-border, none);
    border-radius: var(--preview-border-radius, 0);
    position: relative;
  }

  li:not(:last-child) .copy {
    border-bottom: var(--preview-copy-border);
  }

  a {
    align-items: center;
    display: grid;
    gap: .75rem;
    grid: 'thumb copy' auto / auto 1fr;
  }

  a > * {
    pointer-events: none;
  }

  figure {
    aspect-ratio: 1;
    grid-area: thumb;
    inline-size: var(--thumb-size);
    margin-block: .75rem;
    margin-inline: .75rem 0;
  }

  img {
    aspect-ratio: 1;
    background-color: var(--image-background);
    border-radius: .25rem;
    object-fit: cover;
  }

  .copy {
    display: grid;
    gap: 0 .75rem;
    grid: 'description counter .' 1fr / 1fr auto 0;
    grid-area: copy;
    place-items: center start;
    place-self: stretch;
  }

  .title {
    margin-block: 0;
  }

  :is(.badge, .count, .serving) {
    margin-block: .2em;
  }

  /* [1] Prevent hover/focus color change. */
  .counter {
    color: var(--text-color);  /* [1] */
    grid-area: counter;
    inline-size: .75rem;
    margin-block: .75rem;
    opacity: .7;
    place-self: end center;
  }

  .favorite {
    inset-block: 0 auto;
    inset-inline: auto 0;
  }
}
