.previews {
  display: grid;
  gap: 1rem 0;
  grid: auto-flow / 1fr;
  list-style: none;
  margin-block: 0 4rem;
  margin-inline: 1rem;
  padding: 0;

  li {
    background-color: var(--content-background);
  }

  a {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid: 'thumb blurb counter' var(--thumb-size) / var(--thumb-size) 1fr;
  }

  a > * {
    pointer-events: none;
  }

  img {
    aspect-ratio: 1;
    background-color: var(--image-background);
    border-radius: .25rem;
    grid-area: thumb;
    object-fit: cover;
  }

  .blurb {
    grid-area: blurb;
  }

  .title {
    margin-block: 0;
  }

  :is(.badge, .count) {
    margin-block: .2em 0;
  }

  .counter {
    grid-area: counter;
    opacity: .7;
  }
}
