/* -------------------------------------------------------------------------- */
/* Recipe view.
/* -------------------------------------------------------------------------- */

gc-recipe {
  /* ---------------------------------------- */
  /* Cost. */

  .cost {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--callout-background);
    grid-area: 1 / 1;
    line-height: 1.5;
    margin-block: 10% 0;
    padding-block: .5rem;
    padding-inline: .75rem;
    place-self: start end;
    z-index: 1;
  }

  /* ---------------------------------------- */
  /* Title, badge, serving, favorite. */

  .content {
    position: relative;
  }

  .badge {
    margin-block: 0;
  }

  .badge + h1 {
    margin-block-start: .5em;
  }

  h1 {
    padding-inline-end: 1em;
  }

  .serving {
    margin-block: 0 1em;
  }

  /* ---------------------------------------- */
  /* Recipe headings. */

  :where([id='ingredients'], [id='steps']) :is(h2, h3) {
    padding-inline: var(--gap);
  }
  
  :where([id='ingredients'], [id='steps']) h2 {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--callout-background);
    inset-block: 0 auto;
    position: sticky;
  }

  h2 {
    margin-block: 0 1em;
    padding-block: 1em;
  }

  h2.stuck {
    border-bottom: 1px solid var(--border-color);
  }

  h3 {
    margin-block: 2em 1em;
  }

  h2 + h3 {
    margin-block-start: 0;
  }

  p {
    margin-block: 0 1em;
  }

  /* ---------------------------------------- */
  /* Lists of ingredients and cooking steps. */

  :is(ul, ol) {
    margin-block: 0;
    padding-inline: var(--gap);
  }


  /* ---------------------------------------- */
  /* Ingredients and Steps lists. */

  
  [id='ingredients'] ul, .steps {
    list-style: none;
  }

  [id='ingredients'] li, .steps li {
    display: grid;
    gap: 0 .4em;
    grid: 'icon text' / 1.5em 1fr;
  }

  [id='ingredients'] li > svg {
    grid-area: icon;
  }

  [id='ingredients'] li > span {
    grid-area: text;
  }

  /* ---------------------------------------- */
  /* Ingredients list. */

  [id='ingredients'] li {
    cursor: pointer;
    line-height: 1.3;
    padding-block: .3em;
  }

  [id='ingredients'] li > svg {
    aspect-ratio: 1;
    inline-size: 1.25rem;
    border: 2px solid var(--icon-color);
    border-radius: 1.25rem;
    fill: none;
    place-self: center;
    stroke: var(--icon-active-color);
    stroke-width: 3px;
  }

  [id='ingredients'] [data-checked] > svg {
    background-color: var(--icon-active-background);
    border-color: var(--icon-active-color);
  }

  /* ---------------------------------------- */
  /* Cooking steps. */

  .steps {
    counter-reset: steps 0;
    padding-block: 0 var(--gap);
  }

  .steps > li {
    counter-increment: steps;
    margin-block: 0 1em;
  }

  .steps > li::before {
    background-color: var(--text-color);
    border-radius: 1em;
    color: var(--text-color-inverted);
    content: counter(steps);
    display: inline-grid;
    font-size: var(--subhead-font-size);
    grid: 1.75em / 1.75em;
    place-items: center;
    place-self: start;
  }

  /* ---------------------------------------- */
  /* Recipes within recipes. */

  .more {
    margin-block: 3rem 0;
    padding-inline: var(--gap);
  }

  .more:last-child {
    padding-block: 0 3rem;
  }

  .more h2 {
    margin-block: 0;
  }

  .more .steps {
    margin-block: 1em;
  }

  .photo {
    display: grid;
    grid: 'photo' 1fr / 1fr;
  }

  .photo > * {
    grid-area: photo;
  }

  .photo > .cost {
    margin-block: 2rem 0;
    place-self: start;
  }
}
