gc-recipe {
  .cost {
    background-color: var(--content-background);
    grid-area: 1 / 1 / -1 / -1;
    margin-block: 3rem 0;
    padding-block: .5rem;
    padding-inline: 1rem;
    place-self: start end;
    z-index: 1;
  }

  .badge {
    margin-block: 1rem 0;
  }

  h1 {
    margin-block: .5rem;
  }

  h2 {
    background-color: var(--content-background);
    padding-block: .5em;
    position: sticky;
    top: 0;
  }

  :is(ul, ol) {
    margin-block: 0 2em;
    padding-inline: 1.5em 0;
  }

  [id='steps'] li {
    margin-block: 1em;
  }
}
