gc-recipe {
  section {
    margin-block: 3rem;
    padding-inline: 1rem;
  }

  .overview {
    margin-block-start: 0;
  }

  .cover {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .cover > img {
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
  }

  h1 {
    margin-block-end: 0;
    margin-inline: 1rem;
  }

  .badge {
    margin-block: .5rem 2rem;
    margin-inline: 1rem;
  }

  .cost {
    background-color: var(--fill-1);
    inset-block: 2rem auto;
    inset-inline: auto 0;
    margin: 0;
    padding-block: .5rem;
    padding-inline: 1rem;
    position: absolute;
  }

  :is(ul, ol) {
    padding-inline: 1.5em 0;
  }

  .steps li {
    margin-block: 1em;
  }
}
