/* -------------------------------------------------------------------------- */
/* Recipe view.
/* -------------------------------------------------------------------------- */

gc-recipe {
  .cost {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--callout-background);
    grid-area: 1 / 1;
    line-height: 1.5;
    margin-block: 10% 0;
    padding-block: .5rem;
    padding-inline: .75rem;
    place-self: start;
    z-index: 1;
  }

  .content {
    position: relative;
  }

  /* ---------------------------------------- */
  /* Badge, title, serving. */

  .badge {
    margin-block: 0;
  }

  .badge + h1 {
    margin-block-start: .5em;
  }

  h1 {
    padding-inline-end: 1em;
  }

  .serving {
    margin-block: 0 1em;
  }

  /* ---------------------------------------- */
  /* Recipe headings. */

  :is(.ingredients, .steps) :is(h2, h3) {
    padding-inline: var(--gap);
  }
  
  :is(.ingredients, .steps) h2 {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--callout-background);
    border-block-end: 1px solid var(--border-color);
    inset-block: 0 auto;
    position: sticky;
  }

  .ingredients h2 {
    margin-block-start: 0;
  }

  h2 {
    margin-block: 1em;
    padding-block: 1em;
  }

  h3 {
    margin-block: 2em 1em;
  }

  h2 + h3 {
    margin-block-start: 0;
  }

  p {
    margin-block: 0 1em;
  }

  /* ---------------------------------------- */
  /* Lists of ingredients and cooking steps. */

  :is(ul, ol) {
    margin-block: 0;
    padding-inline: var(--gap);
  }

  .more :is(ul, ol) {
    padding-inline: 0;
  }

  .ingredients__list,
  .steps__list {
    list-style: none;
  }

  .ingredients__list + .steps__list {
    margin-block-start: 2em;
  }

  .ingredients__item,
  .steps__item {
    display: grid;
    gap: 0 .4em;
    grid: 'icon text' / var(--marker-size) 1fr;
  }

  /* ---------------------------------------- */
  /* Ingredients list items. */

  .ingredients__item {
    cursor: pointer;
    outline: none;
    padding-block: .3em;

    &:focus-visible {
      color: var(--icon-add-color);
    }

    .text {
      grid-area: text;
      pointer-events: none;
    }

    &.touch .text {
      opacity: var(--opacity);
    }

    svg {
      fill: none;
      stroke: currentColor;
      stroke-width: 3;
    }

    .checkbox {
      aspect-ratio: 1;
      border: 2px solid var(--icon-color);
      border-radius: var(--marker-size);
      display: grid;
      inline-size: var(--marker-size);
      grid-area: icon;
      place-items: center;
      place-self: center;
    }

    &:focus-visible {
      .checkbox {
        border-color: var(--icon-add-color);
      }
    }

    @media (any-hover: hover) {
      & .checkbox {
        transition: border-color var(--transition);
      }

      & .text {
        transition: opacity var(--transition);
      }

      &:hover .checkbox {
        border-color: var(--icon-add-color);
      }

      &:hover .text {
        opacity: var(--opacity);
      }
    }

    &[data-checked] .checkbox {
      background-color: var(--icon-add-background);
      border-color: var(--icon-add-color);
      color: var(--icon-add-color);
    }
  }

  /* ---------------------------------------- */
  /* Cooking steps. */

  .steps__list {
    counter-reset: steps 0;
    padding-block: 0 var(--gap);
  }

  .steps__item {
    counter-increment: steps;
    margin-block: 0 1em;
  }

  .steps__item::before {
    aspect-ratio: 1;
    background-color: var(--text-color);
    border-radius: var(--marker-size);
    color: var(--text-color-inverted);
    content: counter(steps);
    display: grid;
    font-size: var(--subhead-font-size);
    inline-size: var(--marker-size);
    place-content: center;
    place-self: start;
  }

  /* ---------------------------------------- */
  /* Recipes within recipes. */

  .more {
    margin-block: 2rem 0;
    padding-inline: var(--gap);
  }

  .more:last-child {
    padding-block: 0 3rem;
  }

  .more h2 {
    margin-block: 0;
  }

  .more .steps {
    margin-block: 1em;
  }

  .photo {
    display: grid;
    grid: 'photo' 1fr / 1fr;
  }

  .photo > * {
    grid-area: photo;
  }

  .photo > .cost {
    margin-block: 2rem 0;
    place-self: start;
  }
}
