[role='tablist'] {
  display: grid;
  gap: 0 .5rem;
  grid: auto / auto-flow;
  margin-block: 2rem;
  margin-inline: 1rem;
  place-content: center;

  button {
    background-color: var(--content-background);
    border: var(--border);
    border-radius: 3px;
    padding-block: .5rem;
    padding-inline: .75rem;
  }

  button[aria-selected='true'] {
    border-color: var(--brand-color);
    pointer-events: none;
  }
}

[role='tabpanel'][aria-hidden='true'] {
  display: none;
  pointer-events: none;
}
