/* -------------------------------------------------------------------------- */
/* Text-truncating component... */
/* -------------------------------------------------------------------------- */

.more-less {
  background: none;
  block-size: auto;
  display: inline;
  font: inherit;
}
