h1 {
  font-family: 'Carmina Bold';
}

:is(p, li) {
  line-height: 1.5;
}

/* Buttons. */
[id='back'],
[role='tablist'] > button {
  font-family: 'Futura Book';
  font-size: var(--small-font-size);
  letter-spacing: .125em;
  text-transform: uppercase;
}

/* Headings. */
gc-page h2,
.previews .title,
gc-recipe :is(.cost, .serving, h2, h3) {
  font-family: 'Futura Bold';
}

gc-page h2,
.previews .title,
gc-recipe :is(.badge, .cost, .serving, h2, h3) {
  font-size: var(--subhead-font-size);
  line-height: 1.3;
  letter-spacing: .25em;
  text-transform: uppercase;
}

/* Various elements. */
footer,
gc-page li,
:is(.badge, .count),
.ingredients > li,
.previews :is(.counter, .serving) {
  font-family: 'Futura Book'; 
}

footer,
.count,
.previews :is(.badge, .counter, .serving) {
  font-size: var(--small-font-size);
  letter-spacing: .1em;
  text-transform: uppercase;
}
