:root {
  // Theming.
  --fill-0: var(--gray6);
  --fill-1: white;
  --fill-2: var(--gray5);
  --link-color: DodgerBlue;
  --link-focus-color: OrangeRed;
  --link-visited-color: RebeccaPurple;
  --text-color: rgb(44, 44, 46); // Gray5 dark.

  // Apple HGI light mode colors.
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);
  
  // Global properties.
  --transition: .25s;

  // Elements.
  --header-size: 3.5rem;
  --section-max-width: 40rem;
  --subhead-font-size: 80%;
  --thumb-size: 6rem;

  @media (prefers-color-scheme: dark) {
    // Dark mode theming.
    --fill-0: var(--gray6);
    --fill-1: var(--gray5);
    --fill-2: var(--gray4);
    --link-color: CornflowerBlue;
    --link-focus-color: DarkOrange;
    --link-visited-color: MediumPurple;
    --text-color: rgb(229, 229, 234); // Gray5 light.

    // Apple HGI dark mode colors.
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(99, 99, 102);
    --gray3: rgb(72, 72, 74);
    --gray4: rgb(58, 58, 60);
    --gray5: rgb(44, 44, 46);
    --gray6: rgb(28, 28, 30);
  }
}
