:root {
  /* Apple HGI light mode colors. */
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);

  /* Branding and theming. */
  --body-background: var(--gray6);
  --border-color: var(--gray5);
  --brand-color: #e5001f;
  --content-background: white;
  --content-border: 1px solid var(--border-color);
  --header-background: rgb(255, 255, 255, .95);
  --header-border: 1px solid var(--border-color);
  --image-background: var(--gray4);
  --link-color: var(--text-color);
  --link-focus-color: var(--brand-color);
  --link-visited-color: rgb(142, 142, 147);  /* Gray1 dark. */
  --text-color: rgb(44, 44, 46);  /* Gray5 dark. */
  --text-color-inverted: white;

  /* Typography. */
  --small-font-size: 60%;
  --subhead-font-size: 80%;

  /* Transitions. */
  --transition: .25s;

  @media (prefers-color-scheme: dark) {
    /* Apple HGI dark mode colors. */
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(99, 99, 102);
    --gray3: rgb(72, 72, 74);
    --gray4: rgb(58, 58, 60);
    --gray5: rgb(44, 44, 46);
    --gray6: rgb(28, 28, 30);

    /* Dark mode branding and theming. */
    --body-background: black;
    --border-color: var(--gray3);
    --brand-color: #ed4d62;
    --content-background: var(--gray6);
    --header-background: rgba(0, 0, 0, .9);
    --link-visited-color: rgb(174, 174, 178);  /* Gray2 light. */
    --text-color: rgb(229, 229, 234);  /* Gray5 light. */
    --text-color-inverted: black;
  }
}

/* ------------------------------------------------------------ */
/* Layout | small/default */

:root {
  --app-grid: var(--header-block-size) 1fr / 1fr minmax(auto, var(--section-max-inline-size)) 1fr;
  --back-label-display: none;
  --gap: clamp(.75em, .75em + 1vw, 3em);
  --footer-padding: 2rem;
  --header-gap: .5rem;
  --header-grid: '. back wordmark . .' var(--header-block-size) / 0 minmax(0, 1fr) auto 1fr 0;
  --header-position: fixed;
  --header-block-size: clamp(3rem, 3rem + 1vw, 5rem);
  --main-block-size: 100dvh;
  --main-grid-area: 1 / 2 / 3 / 2;
  --preview-copy-border: 1px solid var(--border-color);
  --previews-border: 1px solid var(--border-color);
  --previews-border-radius: 1rem;
  --previews-gap: 0;
  --previews-grid: auto-flow / 1fr;
  --section-max-inline-size: 35rem;  /* 35rem = 560px */
  --thumb-size: 4.5rem;
  --view-background: var(--body-background);
  --view-display: block;
  --view-padding-block: var(--header-block-size) 0;
}

gc-app {
  --footer-display: none;
}

.view {
  --footer-display: block;
}

gc-home {
  --previews-margin: var(--gap);
}

/* ------------------------------------------------------------ */
/* Medium | 35rem = 560px */

@media (min-width: 35rem) {
  :root {
    --app-margin: var(--gap);
    --back-label-display: unset;
    --header-gap: 0;
    --header-grid: 'back wordmark .' var(--header-block-size) / minmax(0, 1fr) auto 1fr;
  }
}

/* ------------------------------------------------------------ */
/* Landscape */

@media (orientation: landscape) {
  :root {
    --app-grid: '. header .' 1fr '. main .' auto '. footer .' 1fr / 1fr minmax(0, var(--section-max-inline-size)) 1fr;
    --content-border: none;
    --cover-inset: 0;
    --cover-position: sticky;
    --footer-padding: 1rem;
    --header-background: none;
    --header-border: none;
    --header-position: static;
    --main-aspect-ratio: 2 / 1;
    --main-border-radius: .5rem;
    --main-block-size: 100%;
    --main-grid-area: 2 / 2;
    --section-max-inline-size: 70rem;
    --view-display: grid;
    --view-grid: 'cover content' / 1fr 1fr;
    --view-padding-block: 0;
  }

  gc-app {
    --footer-display: block;
  }

  .view {
    --footer-display: none;
  }

  gc-home {
    --view-display: block;
  }

  gc-recipe {
    --view-grid: 'content cover' / 1fr 1fr;
  }
}

/* ------------------------------------------------------------ */
/* Previews | large | 60rem = 960px */

@media (min-width: 60rem) {
  gc-home {    
    --preview-border: 1px solid var(--border-color);
    --preview-border-radius: 1rem;
    --preview-copy-border: none;
    --previews-border: none;
    --previews-border-radius: 0;
    --previews-gap: 1rem;
    --previews-grid: auto-flow / repeat(2, 1fr);
    --previews-margin: 0;
  }
}

/* ------------------------------------------------------------ */
/* Previews | x-large | 70rem = 1120px */

@media (min-width: 70rem) {
  gc-home {
    --previews-grid: auto-flow / repeat(3, 1fr);
  }
}
