@import 'config/constants'
@import 'app/root-vars'

html
body
  background var(--brand-color)
  color white
  margin 0
  padding 0

.content
  align-items center
  display flex
  justify-content center
  min-height 100vh

figure
  margin auto

img
  height auto
  vertical-align middle
  width 100%
