@import 'config/constants'

html
body
  margin 0
  padding 0
  color white
  background '%s' % Branding.PRIMARY

.content
  display flex
  align-items center
  justify-content center
  min-height 100vh

figure
  margin auto

img
  width 100%
  height auto
