@import 'config/constants'

html
body
  background '%s' % Branding.PRIMARY
  color white
  margin 0
  padding 0

.content
  align-items center
  display flex
  justify-content center
  min-height 100vh

figure
  margin auto

img
  height auto
  width 100%
