.flickity-enabled
  padding-bottom 2rem // NOTE to contain navigation
  position relative

  &:focus
    outline none

  &.is-draggable
    tap-highlight-color transparent
    user-select none

    .flickity-viewport
      cursor move
      cursor grab

    .flickity-viewport.is-pointer-down
      cursor grabbing

.flickity-viewport
  height 100%
  overflow hidden
  position relative

.flickity-slider
  height 100%
  position absolute
  width 100%

// previous/next buttons
.flickity-prev-next-button
  background transparent
  border none
  border-radius 0
  bottom 0
  color BRAND_COLOR
  cursor pointer
  fade()
  height 2rem
  icon()
  margin 0
  padding 0 .5em
  position absolute
  text-align center
  width 3rem

  &:hover
    background transparent
    border none
    color MEDIUM_GREY

  &:disabled
    visibility hidden

  &:focus
    outline none

  &.previous
    left 0

    &:before
      content ICON_ANGLE_LEFT

  &.next
    right 0

    &:after
      content ICON_ANGLE_RIGHT
  svg
    display none

// ----------------------------------------
// page dots

.flickity-page-dots
  bottom 0
  height 2rem
  left 3.5rem
  line-height 2rem
  list-style none
  position absolute
  right 3.5rem
  text-align center

  .dot
    background LIGHT_GREY
    border-radius 50%
    cursor pointer
    display inline-block
    fade()
    height 8px
    margin 0 4px
    position relative
    top 2px
    width 8px

    &:hover
      background MEDIUM_GREY

    &.is-selected
      background BRAND_COLOR
