$content-layout-parent
  max-width content-max-width
  width 100%
  
  @media breakpoint.small
    margin 1.5rem auto

  @media breakpoint.medium
    margin 2.25rem auto

  @media breakpoint.large
    margin 3rem auto

$content-layout-child
  background var(--background-1)
  margin 0 auto
  max-width stack-width
  padding-bottom env(safe-area-inset-bottom)

  @media breakpoint.small
    max-width none
    width stack-width

  @media breakpoint.large
    overflow hidden
    padding-bottom 50%
    position relative
    width 100%

$previews-grid
  display grid
  grid-gap var(--previews-gap)
  grid-template-columns repeat(var(--previews-columns, 1), 1fr)

$recipe-count
  small_caps()
  typeface('sans_bold')
