// Colors.
brand-color = #e5001f

link-color = #1565c0
link-color-visited = mix(link-color, white, 50%)

// Webfont icons.
icon-angle-left = '\e802'
icon-cancel-circled = '\e808'
icon-circle-empty = '\e806'
icon-heart = '\e80a'
icon-heart-empty = '\e80b'
icon-ok-circled = '\e807'
icon-right-open = '\e801'
icon-search = '\e804'

// Unused webfont icons, included for reference since they're loaded anyway.
// icon-left-open = '\e800'
// icon-user = '\e805'
// icon-angle-right = '\e803'
// icon-cancel = '\e809'

// Dimensions.
breakpoint-small-units = rem(480)
breakpoint-medium-units = rem(768)
breakpoint-large-units = rem(1024)
breakpoint-xlarge-units = rem(1280)
margin-base = rem(12)
margin-small = rem(24)
margin-medium = rem(36)
margin-large = rem(48)
page-width = rem(800)
page-width-stacked = rem(560)

// Calculated constants and breakpoints.
content-width-small = breakpoint-small-units - (2 * margin-small)
content-width-medium = breakpoint-medium-units - (2 * margin-medium)
content-width-xlarge = breakpoint-xlarge-units - (2 * margin-large)

breakpoint = {
  small: 'screen and (min-width: %s)' % breakpoint-small-units
  medium: 'screen and (min-width: %s)' % breakpoint-medium-units
  large: 'screen and (min-width: %s)' % breakpoint-large-units
  xlarge: 'screen and (min-width: %s)' % breakpoint-xlarge-units
}
