// Grays palette.
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color
gray-1 = rgb(142, 142, 147)
gray-2 = rgb(174, 174, 178)
gray-3 = rgb(199, 199, 204)
gray-4 = rgb(209, 209, 214)
gray-5 = rgb(229, 229, 234)
gray-6 = rgb(242, 242, 247)

gray-1-dark = rgb(142, 142, 147)
gray-2-dark = rgb(99, 99, 102)
gray-3-dark = rgb(72, 72, 74)
gray-4-dark = rgb(58, 58, 60)
gray-5-dark = rgb(44, 44, 46)
gray-6-dark = rgb(28, 28, 30)

// Default light mode colors.
background-0 = gray-6
background-1 = white
background-2 = gray-5
border-color = gray-4
text-1-color = black
text-2-color = gray-3-dark
text-3-color = gray-1

// Dark mode colors.
background-0-dark = black
background-1-dark = gray-6-dark
background-2-dark = gray-5-dark
background-3-dark = gray-3-dark
border-color-dark = gray-4-dark
text-1-color-dark = gray-5
text-2-color-dark = gray-2
text-3-color-dark = gray-3-dark

// Brand colors.
brand-color = #e5001f
brand-color-dark = #f2808f

badge-color = #ffc500
badge-color-dark = #ffe280

checked-color = #008000
checked-color-dark = #80c080

// Blurry backgrounds.
backdrop-effect = blur(10px)

// Header background with no backdrop-filter support.
header-background = rgba(white, .95)
header-background-dark = rgba(black, .95)

// Header background with blur effect.
header-backdrop-background = rgba(white, .65)
header-backdrop-background-dark = rgba(gray-6-dark, .65)

// Gradient overlay for overflow content at large breakpoint.
overflow-overlay-background = linear-gradient(to bottom, rgba(background-1, 0), background-1)
overflow-overlay-background-dark = linear-gradient(to bottom, rgba(background-1-dark, 0), background-1-dark)

// Text overlay on photos.
overlay-background = rgba(background-1, .85)
overlay-background-dark = rgba(background-1-dark, .85)
overlay-shadow = 0 0 5px 0 gray-3
overlay-shadow-dark = none

// Dimensions.
margin-base = rem(12)
margin-small = rem(24)
margin-medium = rem(36)
margin-large = rem(48)

content-max-width = rem(1280)
stack-width = rem(560)

controls-size = rem(48)
overlay-height = rem(80)
thumb-size = rem(80)

// Breakpoints.
breakpoint = {
  small: 'screen and (min-width: %s)' % stack-width
  medium: 'screen and (min-width: %s)' % rem(768)
  large: 'screen and (min-width: %s)' % rem(1024)
  xlarge: 'screen and (min-width: %s)' % content-max-width
}

// Transitions and animations.
transition = .3s ease
