@import 'constants'
@import 'functions'

// @mixin
icon()
  font-family 'Icons', sans-serif

// @mixin
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link(link, visited, hover, active)
  &
    &:link
      color link

    &:visited
      color visited

    &:focus
    &:active
      color active

  [no-touch] &
    &:hover
      color hover

// @mixin
// @param Color link
// @param Color visited
// @param Color hover
// @param Color active
link_background(link, visited, hover, active)
  &
    &:link
      background-color link

    &:visited
      background-color visited

    &:focus
    &:active
      background-color active

  [no-touch] &
    &:hover
      background-color hover

// @mixin
// @param Number font_size [12]
small_caps(font_size = 12)
  font-size em(font_size)
  letter-spacing .1em
  text-transform uppercase

// @mixin
// @param String name
typeface(name)
  if name == 'sans'
    font-family 'Futura-Book', sans-serif
  if name == 'sans_bold'
    font-family 'Futura-Bold', sans-serif
  if name == 'serif'
    font-family 'CarminaBT-Light', serif
  if name == 'serif_bold'
    font-family 'CarminaBT-Bold', serif
  font-weight normal

// @mixin
// @param String name
// @param String file
webfont(name, file)
  @font-face
    font-display block
    font-family name
    src url(file + '.woff2') format('woff2')
