aspect_ratio(width, height)
  padding-bottom (height / width) * 100%
  position relative

  img
    bottom 0
    left 0
    position absolute
    right 0
    top 0

link(link, visited, active)
  &
    &:link
      color link

    &:visited
      color visited

    &:active
    &:visited:active
      color active

    &:focus
      color active

link_hover(hover)
  &
    &:hover
    &:visited:hover
      color hover

px_to_em(px)
  (px / 16) * 1em

px_to_rem(px)
  (px / 16) * 1rem

position_it(position, top, right, bottom left)
  position position
  if top != null
    top top
  if right != null
    right right
  if bottom != null
    bottom bottom
  if left != null
    left left

small_caps(font_size = 12)
  font-size px_to_em(font_size)
  letter-spacing .1em
  text-transform uppercase

transition_all()
  transition all .3s ease

webfont(name, file)
  @font-face
    font-family name
    src url(file + '.eot')
    src url(file + '.woff') format('woff'),
        url(file + '.woff2') format('woff2'),
        url(file + '.ttf') format('truetype')
    font-display block
