// greys
WHITE = #fff
OFF_WHITE = #f2f2f2
LIGHTER_GREY = #eee
LIGHT_GREY = #aaa
MEDIUM_GREY = #777
DARK_GREY = #333

// colors
DARK_RED = #c00
MATERIAL_BLUE = #2196f3
ORANGE = #ffc500
RED = #f00

// links
BRAND_COLOR = MATERIAL_BLUE
BRAND_COLOR_VISITED = mix(BRAND_COLOR, WHITE, 50%)

// borders
BORDER_COLOR = LIGHTER_GREY
