font_sans()
  font-family 'Futura-Book', sans-serif
  font-weight normal

font_sans_heavy()
  font-family 'Futura-Bold', sans-serif
  font-weight normal

font_serif()
  font-family 'CarminaBT-Light', serif
  font-weight normal

font_serif_heavy()
  font-family 'CarminaBT-Bold', serif
  font-weight normal

icon()
  font-family 'Icons', sans-serif
