aspect_ratio(width, height)
  position relative
  padding-bottom (height / width) * 100%

  img
    position absolute
    top 0
    left 0
    right 0
    bottom 0

link(link, visited, active)
  &
    &:link
      color link

    &:visited
      color visited

    &:active
    &:visited:active
      color active

    &:focus
      color active
/*
link_background(link, visited, active)
  &
    &:link
      background-color link

    &:visited
      background-color visited

    &:active
    &:visited:active
      background-color active
*/
/*
link_background_hover(hover)
  &
    &:hover
    &:visited:hover
      background-color hover
*/
/*
link_border(link, visited, active)
  &
    &:link
      border-color link

    &:visited
      border-color visited

    &:active
    &:visited:active
      border-color active
*/
/*
link_border_hover(hover)
  &
    &:hover
    &:visited:hover
      border-color hover
*/

link_hover(hover)
  &
    &:hover
    &:visited:hover
      color hover

px_to_em(px)
  (px / 16) * 1em

position_it(position, top, right, bottom left)
  position position
  if top != null
    top top
  if right != null
    right right
  if bottom != null
    bottom bottom
  if left != null
    left left

small_caps(font-size = 11)
  font-size px_to_em(font-size)
  text-transform uppercase
  letter-spacing .1em

transition_all()
  transition all .3s ease

webfont(name, file)
  @font-face
    font-family name
    src url(file + '.eot')
    src url(file + '.woff') format('woff'),
        url(file + '.woff2') format('woff2'),
        url(file + '.ttf') format('truetype')
