ICON_ANGLE_LEFT = '\e802'
ICON_ANGLE_RIGHT = '\e803'
ICON_CANCEL_CIRCLED = '\e808'
ICON_CANCEL = '\e809'
ICON_CIRCLE_EMPTY = '\e806'
ICON_HEART = '\e80a'
ICON_HEART_EMPTY = '\e80b'
ICON_OK_CIRCLED = '\e807'
ICON_RIGHT_OPEN =  '\e801'
ICON_SEARCH = '\e804'

//ICON_LEFT_OPEN = '\e800'
//ICON_USER = '\e805'
