// margins
MARGINS_BASE = .75rem
MARGINS_SMALL = 1.5rem
MARGINS_MEDIUM = 3rem
MARGINS_LARGE = 3rem

// widths
WIDTH_SMALL = 25rem
WIDTH_LARGE = 56rem
WIDTH_MEDIUM = 42rem
WIDTH_XLARGE = 70rem

// breakpoints
BREAKPOINT_SMALL = WIDTH_SMALL + (2 * MARGINS_SMALL) // 448
BREAKPOINT_MEDIUM = WIDTH_MEDIUM + (2 * MARGINS_MEDIUM) // 768
BREAKPOINT_LARGE = WIDTH_LARGE + (2 * MARGINS_LARGE) // 1024
BREAKPOINT_XLARGE = WIDTH_XLARGE + (2 * MARGINS_LARGE) // 1248

// header heights
HEADER_HEIGHT_BASE = 2.75rem
HEADER_HEIGHT_MEDIUM = 3.5rem

// stacked width (for medium layouts)
STACKED_WIDTH = 35rem

// page max width
PAGE_MAX_WIDTH = 48rem
