sans()
  font-family 'Futura-Book', sans-serif
  font-weight normal

sans_heavy()
  font-family 'Futura-Bold', sans-serif
  font-weight normal

serif()
  font-family 'CarminaBT-Light', serif
  font-weight normal

serif_heavy()
  font-family 'CarminaBT-Bold', serif
  font-weight normal

icon()
  font-family 'Icons', sans-serif
