@import 'functions'

// @type Hash
Colors = {
  DARK_RED: #c00
  DARK_GREY: #333
  LIGHT_GREY: #aaa
  LIGHTER_GREY: #eee
  MATERIAL_BLUE_800: #1565c0
  MEDIUM_GREY: #777
  OFF_WHITE: #f2f2f2
  ORANGE: #ffc500
  RED: #f00
}

// @type Hash
FontSize = {
  Base: {
    H1: px_to_em(24)
    H2: px_to_em(18)
    H3: px_to_em(18)
  }
}

// @type Hash
Icons = {
  ANGLE_LEFT: '\e802'
  ANGLE_RIGHT: '\e803' // not used
  CANCEL: '\e809' // not used
  CANCEL_CIRCLED: '\e808'
  CIRCLE_EMPTY: '\e806'
  HEART: '\e80a'
  HEART_EMPTY: '\e80b'
  LEFT_OPEN: '\e800' // not used
  OK_CIRCLED: '\e807'
  RIGHT_OPEN:  '\e801'
  SEARCH: '\e804'
  USER: '\e805'  // not used
}

// @type Color
// @require Colors
BORDER_COLOR = Colors.LIGHTER_GREY

// @type Color
// @require Colors
BRAND_COLOR = Colors.MATERIAL_BLUE_800

// @type Color
// @require Colors
BRAND_COLOR_VISITED = mix(Colors.MATERIAL_BLUE_800, white, 50%)
